.button {
    width: 41vh;
    height: 7.8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5%;

    background: #2f2f2f;
    border-radius: 1.11vh;
    border: 0.37vh solid #fff;
    cursor: pointer;
}

.button-icon {
    width: 4.85vh;
    height: 4.85vh;
}

.button-text {
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-size: 3vh;
    color: #fff;
}
