.button {
    display: inline-flex;
    padding: 1.19792vw 1.875vw 1.17708vw 1.19792vw;
    align-items: flex-start;
    gap: 1.8vw;
    border-radius: 0.78125vw;
    border: 0.26042vw solid transparent;
    backdrop-filter: blur(1.15104vw);
    cursor: pointer;

    transition: all 0.2s ease;
}

.button:hover {
    transform: scale(1.05);
}

.button-icon {
    width: 2.86458vw;
    height: 2.86458vw;
}

.button-text {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #FFF;
    font-size: 2.08333vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-variant: all-small-caps;

}
