.linux-installers {
    position: relative;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.linux-installers-title {
    position: absolute;
    justify-self: center;
    top: -8.5vh;
    margin: 0;
    font-family: 'Anton', sans-serif;
    text-decoration: underline;
    font-size: 5vh;
    color: #fff;
}

.linux-installers-buttons {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.7vh;
}
