.app {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
}

.app-background {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 110%;
  height: 110%;
  background-image: url('./assets/mmbg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
  filter: blur(4px);
}

.app-logo-wrapper {
  position: relative;
  display: flex;
  align-self: flex-start!important;
  margin-top: 5.6vh;
  margin-left: 10vh;
}

.app-logo {
  width: 57vw;
  height: 19vw;
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #1a1a1a;
}

.app__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 86%;
  padding: 0 7%;
  height: 70%;
}

.app__bottom-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71vh;
  height: 40vh;
  border-radius: 1.3vh;
  border: 0.55vh solid #aaaaaa;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
}